<html>
  <head>
  </head>
  <body>
    <h2 align="center">Achieving your goals starts here</h2>

    <form>
      <div class="imagecontainer">
        <img src="/assets/exercise-icon-green.png" class="exerciseicon">
      </div>
      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Username" name="username" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Password" name="password" required>
        <label><b>Retype Password</b></label>
        <input type="password" placeholder="Password" name="password" required>

        <button type="submit">Login</button>
        <a routerLink="../signup" routerLinkActive="active"><button class="signup">Not a member yet? Sign up here!</button></a>
      </div>
    </form>
  </body>
</html>