<html>
  <head>
  </head>
  <body>
    <h2 align="center">Login to get started!</h2>

    <form>
      <div class="imagecontainer">
        <img src="/assets/exercise-icon-green.png" class="exerciseicon">
      </div>
      <div class="container">
        <label><b>Username</b></label>
        <input #Username type="text" placeholder="Username" name="username" required>

        <label><b>Password</b></label>
        <input #Password type="password" placeholder="Password" name="password" required>

        <button class = "greenbutton" type="submit" (click)="loginUser(Username.value, Password.value)">Login</button>
        <a routerLink="../signup" routerLinkActive="active"><button class="greenbutton">Not a member yet? Sign up here!</button></a>
       
      </div>

      <label for="typeahead-http">Search for a logged in user:</label>
      <input
        id="typeahead-http"
        type="text"
        class="form-control"
        [ngbTypeahead]="search"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
        #instance="ngbTypeahead"
        placeholder="Search for a user"
      />
    </form>
  </body>
</html>