body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
    margin: 0px 80px 0px 80px;
}

.greenbutton {
    background-color: rgb(24, 168, 36);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    
}

.greenbutton:hover {
    opacity: 0.8;
}
.loginBtn {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 8px 0;
    padding: 0 40px 0 46px;
    border: none;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 14px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

h4 {
    position: relative;
    font-size: 14px;
    color: rgb(44, 44, 44);
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h4:before, h4:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: rgb(185, 185, 185);
}

h4:before {
    margin-left: -50%;
    text-align: right;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(173, 173, 173);
    box-sizing: border-box;
}

.imagecontain {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.exerciseicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.container {
    padding: 16px;
}

span.password {
    float: right;
    padding-top: 16px;
}