<html>
  <head>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    
    <h1>Hello {{Name}}! Here is your workout log:</h1>
    <table>
      <thead>
          <th>Workout Type</th>
          <th>Workout Duration (Minutes)</th>
          <th>Workout Date</th>
          <th>Number of Reps</th>
          <th>Number of Sets</th>
      </thead>
      <tbody>
          <tr *ngFor="let log of MyLog; let i = index">
              <td>{{log.WorkoutType}}</td>
              <td>{{log.WorkoutDuration}}</td>
              <td>{{log.WorkoutDate}}</td>
              <td>{{log.NumberOfReps}}</td>
              <td>
                {{log.NumberOfSets}}
                <button class="close" (click)="removeWorkout(i)">&#10006;</button>
              </td>
          </tr>
          <tr>
            <td><input [(ngModel)]="WorkType" type="text" placeholder="Enter Workout Type"></td>
            <td><input [(ngModel)]="WorkDuration" type="number" placeholder="Enter Workout Duration"></td>
            <td><input [(ngModel)]="WorkDate" type="date" placeholder="Enter Workout Date"></td>
            <td><input [(ngModel)]="NumReps" type="number" placeholder="Enter Number of Reps"></td>
            <td><input [(ngModel)]="NumSets" type="number" placeholder="Enter Number of Sets"></td>
          </tr>
          <button class = "greenbutton" type="submit" (click)="addNewWorkout()">Save new entry</button>
      </tbody>
    </table>
    <h3>Share on social media!</h3>
    <div class="twitter">
      <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text=I%20am%20logging%20my%20workouts%20with%20WorkoutLogger"><img src="./assets/tweetbutton.png"style="width:100px;height:30px;border:0;"></a>
    </div>
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
      <img src="./assets/facebook-share.png" style="width:100px;height:30px;border:0;"></a></div>

      <div class="g-plus" data-action="share" data-href="http://localhost:4200/home"><img src="./assets/google-plus.png" style="width:120px;height:30px;border:0;"></div>
      
      


  </body>
</html>

