body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0 0 15px 0;
    line-height: 110%;
    font-style: italic;
    color: rgb(0, 0, 0);
    border-bottom: 1px #000000 solid;
    float: left;
}

info {
    margin: 0 50px 0 50px;
    padding: 40px;
}

.picture {
    float: left;
    width: 600px;
    margin: 10px 10px 0 0;
    text-align: center;
}
.image {
    height: 350px;
    width: 620px;
    overflow: hidden;
}
form-control {
    float: left;
}