<html>
  <head>
  </head>
  <body>
    <h2 class = "line">
      <span>About This App</span>
    </h2>

    <p class="info">
      This browser based app is used to track and organized your workout information into a 
      readable table-based format. With it, you can track the various types of workouts,
      the number of repetitions per set of the workout, and the number of sets you've performed as well as
      the date when they performed on. Your fitness goals have never been easier to achieve! Just enter the details
      of your workout into your workout log after logging in, and the website will save it for you when you
      return!
    </p>
    
    <div class = "picture">
        <div class="image"><img src="assets/calendar.jpg"></div>
      <h3>Date Tracking</h3>
      <p>
        Log the date of your workouts and have them sorted chronologically, so you can see how you've done over
        the course of days, weeks, months, and years!
      </p>
    </div>
    <div class = "picture">
        <div class="image"><img src="assets/workout.jpg"></div>
      <h3>Workout Logging</h3>
      <p>
        Log workouts you've performed and have them organized into an easy-to-read format for you!
      </p>
    </div>
    <div class = "picture">
      <div class="image"><img src="assets/share.png"></div>
      <h3>Share with Friends</h3>
      <p>
        Share your fitness progress with friends on various social media providers, such as Facebook and Google plus!
      </p>
    </div>

    <h2 class = "line">
        <span>Login to get started!</span>
    </h2>
    <p>Head over to the login page to begin tracking your fitness progress and managing your profile!</p>

    
  </body>
</html>